:root {
  --font-color: #293264;
  --bg-color: #f5f7fb;
  --btn-bg: #4d5b9e;
  --selected-answer-bg: #d6dbf5;
  --correct-answer-bg: #94d7a2;
  --wrong-answer-bg: #f8bcbc;
  --bg-yellow-shadow: #fffad1;
  --bg-blue-shadow: #deebf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Karla', sans-serif;    
}

.btn {
  cursor: pointer;
  margin: 20px;
}

