.radio-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.radio-label {
    margin: 10px;
    border: 2px solid blue;
}

.selected {
    background-color: aqua;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.btn {
    cursor: pointer;
    margin: 20px;
}
  